[Unit]
Description=detect intel legacy gpu and install xf86-video-intel
DefaultDependencies=no
After=local-fs.target
Before=multi-user.target graphical.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/intel-legacy-gpu-installer

[Install]
WantedBy=multi-user.target
