pkgbase = cachyos-mangowc-dms
	pkgdesc = CachyOS MangoWC (+DMS) settings
	pkgver = 1.0.0
	pkgrel = 2
	url = https://github.com/cachyos/cachyos-mangowc-dms
	arch = any
	license = GPL-3.0-only
	makedepends = coreutils
	makedepends = git
	depends = mangowm
	depends = dms-shell
	depends = grim
	depends = slurp
	depends = nautilus
	depends = cliphist
	depends = qt6ct
	depends = nwg-look
	depends = adw-gtk-theme
	depends = cachyos-alacritty-config
	depends = gnome-keyring
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = xdg-desktop-portal-gnome
	depends = xdg-desktop-portal-gtk
	depends = xwayland-satellite
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = git+https://github.com/cachyos/cachyos-mangowc-dms#commit=f2ea58d2758cab12f728a0ff5b429c4634ccec75
	source = cat-dms::git+https://github.com/xi-ve/cat-dms.git#commit=eb7b5138b672be3c06445dd80de6bc30c3076030
	sha512sums = 5bc19e0c4d5c3cb1b4dbd446266aae6b9e1ac3bdc611f25592384ddd090b0b2f862615ee88e01810ea45af7f6320eab62b1ef6d3b1514493109a25b315382fd5
	sha512sums = 57e4ef8df4668e80cd6240bf79b2e4702f3eb9c4e955525f163de11421ec89b8f7a3b74f933742f26e6242d109984e1d32aebf0afb83d186e690b9be89056eac

pkgname = cachyos-mangowc-dms
