pkgbase = lib32-gamescope
	pkgdesc = WSI Layer for use with gamescope (32-bit)
	pkgver = 3.16.23
	pkgrel = 1
	url = https://github.com/ValveSoftware/gamescope
	arch = x86_64
	license = BSD-2-Clause
	makedepends = cmake
	makedepends = git
	makedepends = meson
	makedepends = ninja
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	depends = gamescope=3.16.23
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-vulkan-icd-loader
	depends = lib32-wayland
	replaces = lib32-gamescope-plus
	source = git+https://github.com/ValveSoftware/gamescope#tag=3.16.23
	sha256sums = c492b39038c33d5cdff389ad75dab165db552095d86a1c61ec378e18062c0a5a

pkgname = lib32-gamescope
