pkgbase = kcgroups
	pkgdesc = KDE library to manipulate cgroups (and boost foreground apps)
	pkgver = 0.0.dmemcg.experimental
	pkgrel = 3
	url = https://invent.kde.org/libraries/kcgroups.git
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = qt6-base
	makedepends = plasma-workspace
	makedepends = kwindowsystem
	makedepends = kconfig
	makedepends = kdbusaddons
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = git
	source = kcgroups::git+https://github.com/pixelcluster/kcgroups.git#commit=d106f1c8f44c1f231a9050b2bf82a34bb7d5db32
	source = plasma-foreground-booster::git+https://github.com/pixelcluster/kcgroups.git#commit=386ccfe529dac54fca51e24aec4b880a31afe836
	sha256sums = fc231c52a9a0b135870b73ce51849a64ea84f80eb8f921c0c0d85af8e12fde28
	sha256sums = d48cf2a39ad087be415fced5b83b5f2ce497cb809fefae622e64e67c824d3286

pkgname = kcgroups
	depends = qt6-base
	depends = kwindowsystem
	depends = kconfig
	depends = kdbusaddons
	provides = kcgroups-dmemcg

pkgname = plasma-foreground-booster
	depends = kcgroups
	provides = plasma-foreground-booster-dmemcg
